/* Initialisation des Variables */
:root {
    --primary-bodycolor: #C7B299;
    --secondary-bodycolor: #ffffff;

    --header-color: #553019;
    --nav-color: #AA7B51;

    --primary-textcolor: #f2f2f2;
    --textcolor-highlight: #ffe4c4;
}

/* Initialisation de la page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab', Arial, sans-serif;
    background-color: var(--primary-bodycolor);
}

a {
    text-decoration: none;
    color: var(--primary-textcolor);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    
    border-radius: 10px;
}

hr {
    filter: opacity(15%);
    margin-bottom: 2rem;
}

small {
    font-size: 12px;
    filter: opacity(50%);
}

header {
    background-color: var(--secondary-bodycolor);
    padding: 1rem;

    text-align: center;
}

/* Span personnalisé */
span.title-colored {
    color: var(--nav-color);
    font-weight: 700;
    font-size: larger;
}

/* Classe qui affiche l'élement voulu */
.show {
    display: block !important;
}

/* Classe qui cache l'élement voulu */
.hide {
    display: none !important;
}

/* Topbar */
.topbar-wrapper {
    background-color: var(--header-color);
    color: var(--primary-textcolor);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0%;

    display: flex;
    flex-direction: column;
}

.topbar-alert {
    background-color: var(--nav-color);
    font-size: 0.8em;
    font-weight: bold;
    align-items: center;
    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topbar-alert p {
    animation: blink 1s infinite ease-in alternate-reverse;
}

@keyframes blink {
    from {
        opacity: 2;
    }

    to {
        opacity: 0.5;
    }
}

/* croix pour fermer l'alerte */
.topbar-exit {
    display: block;
    cursor: pointer;
}

.topbar-links {
    background-color: var(--header-color);
    align-items: center;
    padding: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

/* icone et texte pour le solde */
.topbar-balance {
    align-items: center;

    display: flex;
    gap: 0.5rem;
}

/* Topbar fin */

/* Largeur de page */
section.page-wrapper {
    padding: 0;
}

/* Menu début */
.menu-wrapper {
    background-color: var(--nav-color);
    color: var(--primary-textcolor);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 1.5em;
    padding: 1rem;
    align-items: center;
    text-align: center;

    position: relative;

    display: flex;
    flex-direction: row;
}

.menu-wrapper p {
    margin: auto;
    width: 100%;
}

.menu-nav {
    background-color: #AA7B51;
    width: 100%;

    position: absolute;
    top: 100%;
    left: 0;

    display: none;
}

.menu-nav ul {
    align-items: center;
    text-align: center;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.menu-nav ul li a {
    font-size: 0.7em;
}

/* Menu burgericon qui se transforme en croix */
.menu-burgericon {
    position: absolute;
    right: 0rem;
    top: 1.8rem;

    cursor: pointer;
}

.menu-toggle {
    position: absolute;
    right: 1.5rem;
    top: 49%;
    transform: translate(0, -50%);
    height: 26px;
    width: 29px;
}

.menu-toggle,
.menu-toggle:hover {
    color: #ffffff;
}

.menu-toggle-bar {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.menu-toggle-bar.menu-toggle-bar--top {
    transform: translate(0, -8px);
}

.menu-toggle-bar.menu-toggle-bar--bottom {
    transform: translate(0, 8px);
}

.nav-open .menu-toggle-bar.menu-toggle-bar--top {
    transform: translate(0, 0) rotate(45deg);
}

.nav-open .menu-toggle-bar.menu-toggle-bar--middle {
    opacity: 0;
}

.nav-open .menu-toggle-bar.menu-toggle-bar--bottom {
    transform: translate(0, 0) rotate(-45deg);
}

/* Menu fin */

/* Section main début */
section.main {
    background-color: var(--secondary-bodycolor);
    min-height: fit-content;
    padding: 2rem 1.5rem 2rem 1.5rem;
}

/* wrapper des images cliquables */
.main-picwrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.main-picwrapper p {
    color: #000000;
    font-weight: bold;
}

/* première section du main */
.main-first {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-first img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Deuxième section du main */
.main-second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-second h1 {
    display: flex;
    flex-direction: column;

    position: relative;
    margin-bottom: 2rem;
    font-size: 2.5em;
    line-height: 1.2em;
    user-select: none;
}

/* Ligne sous le titre */
.main-second h1 span.title-colored {
    position: relative;
    display: inline-block;
}

.main-second h1 span.title-colored::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--nav-color);
    transition: 2s width;
}

.main-second h1 span.title-colored--active::before {
    width: 100%;
}

.main-second .main-secondrwrap {
    display: flex;
    flex-direction: column;
}

.main-second .main-secondrwrap p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 0.9em;
}

.main-second .main-secondrwrap a {
    background-color: var(--nav-color);
    color: #FFF;
    font-weight: 800;
    font-size: 1.6em;
    width: fit-content;
    text-align: center;
    align-items: center;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    margin: 2rem auto 2rem auto;
}

/* Troisième section du main */
.main-third {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-third img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Section main fin */

/* Footer début */
footer {
    text-align: center;
    align-items: center;
}

.footer-wrapper {
    background-color: var(--nav-color);
    color: var(--primary-textcolor);
    box-shadow: rgb(0, 0, 0) 0px 3px 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-first ul {
    font-size: larger;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-second ul {
    font-size: smaller;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Footer fin */

/* Media Queries */
@media (min-width: 768px) {
    /* Topbar début */
    .topbar-wrapper {
        padding: 0 20% 0 20%;

        flex-direction: row;
        justify-content: space-around;
    }

    .topbar-alert {
        background-color: var(--header-color);
        font-size: 0.8em;
        padding: 1rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .topbar-links {
        padding: 0.5rem;
    }

    .topbar-links a:hover {
        color: var(--textcolor-highlight);
        transition: 0.4s ease;
    }

    .topbar-exit {
        display: none;
    }

    /* Topbar fin */

    /* Largeur de page */
    section.page-wrapper {
        padding: 0 20% 0 20%;
    }


    /* Header début */
    header {
        padding: 1rem;
    }

    header img {
        width: 35%;
    }

    /* Header fin */

    /* Menu début */
    .menu-wrapper {
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
    }

    .menu-wrapper a:hover {
        color: var(--textcolor-highlight);
        transition: 0.4s ease;
    }

    .menu-wrapper p {
        font-size: 0.8em;
        margin: 0;
        width: fit-content;
    }

    .menu-wrapper ul {
        padding: 0;
        width: fit-content;
    }

    .menu-burgericon {
        display: none;
    }

    .menu-nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    .menu-nav ul {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .menu-nav li {
        display: flex;
        flex-direction: row;
    }
    /* Menu fin */

    /* Main début */
    .main-first {
        flex-direction: row;
        gap: 2rem;
    }

    .main-second {
        flex-direction: row;
        gap: 2rem;
    }

    .main-second h1 {
        width: 50%;
        align-items: center;
    }

    .main-second .main-secondrwrap {
        width: 50%;
    }

    .main-secondrwrap a:hover {
        color: var(--textcolor-highlight);
        transition: 0.4s ease;
    }

    .main-second .main-secondrwrap p {
        text-align: left;
    }

    .main-second .main-secondrwrap a {
        margin: 1rem 0rem 2rem 0rem;
    }

    .main-third {
        flex-direction: row;
    }

    .main-third .main-picwrapper {
        width: 40%;
    }

    .main-third a.main-picwrapper img {
        object-fit: contain;
    }
    /* Main fin */

    /* Footer début */
    nav.footer-nav ul {
        flex-direction: row;
    }

    nav.footer-nav ul li a:hover {
        color: var(--textcolor-highlight);
        transition: 0.4s ease;
    }

    div.footer-wrapper small {
        user-select: none;
    }
    /* Footer fin */
}

/* Retouches petits écrans / tablettes */
@media (max-width: 1030px) {
    header img {
        width: 45%;
    }

    div.topbar-alert {
        font-size: 0.7em;
    }

    div.main-second h1 {
        font-size: 1.8em;
    }

    div.main-second .main-secondrwrap p {
        font-size: 0.8em;
    }

    div.main-second .main-secondrwrap a {
        font-size: 1.2em;
    }
}